@import 'reset.css';

html {
    width: 100%;
    height: 100%;
    font-size: 25px;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

#header {
    background-color: rgba(23, 23, 23, 1);
    height: 1.2rem;
    color: rgb(181, 181, 181);
    border-bottom: 0.08rem solid black;
    display: flex;
}

#yamlogo {
    width: 5.2rem;
    height: 1.2rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.24rem;
    color: gray;
}

#main_display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: rgba(75, 73, 73, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#imageCanvas {
    width: 30rem;
    height: 30rem;
    background-color: white;
    border: 0.2rem solid black;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(23, 23, 23, 1);
    width: 2rem;
    height: 100%;
    border-right: 0.08rem solid black;
}

.tool {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    background-color: rgba(23, 23, 23, 1);
    transition: transform ease-in-out 0.1s;
    text-align: center;
    position: relative;
}

.tool:hover {
    transform: scale(1.3);
    z-index: 1;
}

.tooltip {
    position: absolute;
    left: 2rem;
    top: 0.24rem;
    padding: 0.2rem;
    font-size: 0.8rem;
    border-radius: 0.4rem;
    color: rgba(23, 23, 23, 1);
    background-color: rgba(201, 201, 201, 1);
    opacity: 0;
}

.tool:hover .tooltip {
    opacity: 1;
}

#file {
    display: none;
    cursor: pointer;
}

label[for='file'] {
    cursor: pointer;
}

#save {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    background-color: rgba(23, 23, 23, 1);
    border: none;
    cursor: pointer;
}

.files {
    height: 4rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.tools_sett {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(23, 23, 23, 1);
    width: 14rem;
    height: 100%;
    border-left: 0.08rem solid black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
    height: 20rem;
    gap: 1.2rem;
}

.color_tool {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin-top: -0.8rem;
    cursor: pointer;
    color: rgb(181, 181, 181);
}

#text_color,
#background_color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 4rem;
    height: 4rem;
    border: none;
    cursor: pointer;
}
#background_color::-webkit-color-swatch {
    border-radius: 50%;
    border: 0.2rem solid white;
}
#background_color::-moz-color-swatch {
    border-radius: 50%;
    border: 0.2rem solid white;
}
#text_color::-webkit-color-swatch {
    border-radius: 50%;
    border: 0.2rem solid white;
}
#text_color::-moz-color-swatch {
    border-radius: 50%;
    border: 0.2rem solid white;
}

.ranges {
    width: 14rem;
    height: 8rem;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
}

#canvas_range {
    color: rgb(181, 181, 181);
    font-size: 1.2rem;
    height: 2rem;
}

#canvas_range > input[type='text'] {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    width: 2.8rem;
    height: 1.2rem;
    font-size: 1.2rem;
}


input[type='range'] {
    width: 12rem;
}

.range_tool {
    font-size: 1.2rem;
    color: rgb(181, 181, 181);
}

#text_tool {
    width: 100%;
    height: 2rem;
    justify-content: center;
    text-align: center;
}

#text {
    position: relative;
    margin-left: 1.04rem;
    height: 1.2rem;
    width: 10rem;
    margin-top: 2rem;
    left: 0.2rem;
    border: 0.2rem solid rgb(181, 181, 181);
}

#font_button {
    position: relative;
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    right: 1.4rem;
}

#font_lists {
    width: 14rem;
    height: 8rem;
    display: none;
}

.font_list {
    margin-left: 1.72rem;
    width: 10.4rem;
    height: 2rem;
    font-size: 1.2rem;
    background-color: rgb(201, 201, 201);
    border: 0.12rem solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#yamsign {
    font-size: 0.6rem;
    color: rgb(181, 181, 181);
}




textarea{
    resize: none;
}



.popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    border-radius: 8px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.popup h3 {
    margin-bottom: 30px;
    text-align: center;
    color: #000000;
}

.popup .close-btn {
    display: block;
    text-align: right;
    margin-bottom: 10px;
}

.popup .close-btn button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.popup .category {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap; /* 항목들이 줄바꿈이 가능하도록 설정 */
    justify-content: center; /* 중앙 정렬 */
    gap: 10px; /* 라벨 사이의 간격 설정 */
}

.popup .category label {
    font-family:'Jua', sans-serif;
    font-weight: normal;
    margin-bottom : 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: #000000;
}

/* 한 줄에 3개 배치 (첫 번째 줄) */
.popup .category label:nth-child(-n+3) {
    flex: 0 0 calc(33.33% - 10px); /* 첫 번째 줄의 라벨 */
}

/* 두 번째 줄에 2개 배치 (아래 중앙 정렬) */
.popup .category label:nth-child(n+4) {
    flex: 0 0 calc(33.33% - 10px); /* 두 번째 줄의 라벨을 3개로 설정 */
}

/* 두 번째 줄의 첫 번째 라디오 버튼(4번) 오른쪽 마진 줄이기 */
.popup .category label:nth-child(4) {
    margin-right: 5px; /* 오른쪽 간격 줄이기 */
}

/* 두 번째 줄의 두 번째 라디오 버튼(5번) 왼쪽 마진 조정 */
.popup .category label:nth-child(5) {
    margin-left: 5px; /* 왼쪽 간격 조정 */
    display: flex;
    justify-content: center; /* 중앙 정렬 */
}


/* 라디오 버튼 기본 스타일 */
.popup input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: var(--radio-size, 20px); /* 기본 크기 지정 */
    width: var(--radio-size, 20px);
    outline: none;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--radio, #ccc); /* 기본 라디오 버튼 테두리 색 */
    background: transparent;
    border-radius: 50%;
    display: grid;
    align-items: center;
    transition: border .5s ease;
    justify-items: center;
}

/* 라디오 버튼 효과 */
.popup input[type="radio"]::before,
.popup input[type="radio"]::after {
    content: "";
    display: flex;
    border-radius: 50%;
}

.popup input[type="radio"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background, #fff);
    z-index: 1;
    opacity: var(--opacity, 1);
}

.popup input[type="radio"]::after {
    position: relative;
    width: calc(100% / 2);
    height: calc(100% / 2);
    background: var(--radio-checked, #007bff);
    top: var(--y, 100%);
    transition: top .5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
    opacity: 0; /* 기본 상태에서 점이 보이지 않도록 설정 */
}

.popup input[type="radio"]:checked {
    --radio: var(--radio-checked);
}

.popup input[type="radio"]:checked::after {
    --y: 0%;
    opacity: 1; /* 클릭되면 점이 보이도록 설정 */
    animation: stretch-animate .3s ease-out .17s;
}

.popup input[type="radio"]:checked::before {
    --opacity: 0;
}

.popup input[type="text"], .popup textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.popup label {
    color: #555;
    font-size: 16px;
    font-family: 'Jua', sans-serif;
    font-weight: normal;
}

.popup button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* 추가: 호버 효과 */
}





.popup1 {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    border-radius: 8px;
    animation: fadeIn 0.3s ease-in-out;
}

.popup1 h3 {
    margin-top: 0;
    text-align: center;
    color: #333;
    font-size: 20px; /* 추가 */
    margin-bottom: 20px; /* 추가 */
}

.popup1 .close-btn {
    text-align: right;
}

.popup1 .close-btn button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888; /* 수정: 아이콘 색상 변경 */
}

.popup1 .close-btn button:hover {
    color: #555; /* 수정: 호버 시 아이콘 색상 변경 */
}

.popup1 label {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px; /* 추가 */
}

.popup1 textarea,
.popup1 input[type="number"],
.popup1 select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.popup1 button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* 추가: 호버 효과 */
}

.popup1 button:hover {
    background-color: #0056b3; /* 추가: 호버 시 배경색 변경 */
}


.styled-section {
    margin-bottom: 105px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.styled-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.styled-input:focus {
    border-color: red;
    box-shadow: 0 0 0 0.5rem rgba(0, 123, 255, 0.25);
    outline: none;
}

.styled-button {
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #0056b3;
}

.text-button-group {
    text-align: center;
}






.popup2 {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    border-radius: 8px;
    animation: fadeIn 0.3s ease-in-out;
}

.popup2 h3 {
    margin-top: 0;
    text-align: center;
    color: #333;
    font-size: 20px; /* 추가 */
    margin-bottom: 20px; /* 추가 */
}

.popup2 .close-btn {
    text-align: right;
}

.popup2 .close-btn button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888; /* 수정: 아이콘 색상 변경 */
}

.popup2 .close-btn button:hover {
    color: #555; /* 수정: 호버 시 아이콘 색상 변경 */
}

.popup2 label {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px; /* 추가 */
}

.popup2 textarea,
.popup2 input[type="number"],
.popup2 select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.popup2 button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* 추가: 호버 효과 */
}

.popup2 button:hover {
    background-color: #0056b3; /* 추가: 호버 시 배경색 변경 */
}


#closeTextPopup:hover {
    background-color: darkred; /* 호버 시 배경색 변경 */
}


.field-error {
    color: #ff0000;
}
a {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 링크 색상 변경 */
}

/* 링크에 마우스를 올렸을 때의 스타일 */
a:hover {
    color: blue; /* 마우스를 올렸을 때 링크 색상 변경 */
}

/* 방문한 링크의 스타일 */
a:visited {
    color: purple; /* 방문한 링크 색상 변경 */
}


.popup3 {
    display: none;
    position: fixed;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px; /* 팝업을 조금 넓게 조정 */
}

.popup3-content {
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: -2px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;;
    line-height: 30px;
}

.close:hover {
    background-color: #c82333;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="color"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.rect_button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.rect_button:hover {
    background-color: #0056b3;
}


.popup4 {
    display: none;
    position: fixed;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px; /* 팝업을 조금 넓게 조정 */
}

.popup4-content {
    position: relative;
}

.close2 {
    position: absolute;
    right: 10px;
    top: -2px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;;
    line-height: 30px;
}

.close2:hover {
    background-color: #c82333;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="color"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.rect_button2 {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.rect_button2:hover {
    background-color: #0056b3;
}


/* 펜 색상 팝업 스타일 부분  */
.popup5 {
    display: none;
    position: fixed;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px; /* 팝업을 조금 넓게 조정 */
}

.popup5-content {
    position: relative;
}

/* 색상 팔레트 스타일 */
.color-palette {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative; /* 상대 위치 */
}

.color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3); /* 얇은 검은색 테두리 추가 */
    transition: transform 0.2s ease; /* 호버 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.color-picker-transparent {
    opacity: 0;
    position: absolute;  /* 절대 위치로 배치 */
    top: 0;
    left: 100%;  /* 부모 요소 오른쪽에 배치 */
    z-index: 1;
}


.color-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    border-color: #007bff; /* 호버 시 파란색 테두리 */
}

.rainbow-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(red, yellow, lime, cyan, blue, magenta, red);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.2s ease; /* 호버 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* 기본 상태에서 살짝 그림자 */
}

/* 호버 시 확대 효과 */
.rainbow-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}


/* input[type="color"]는 기본적으로 숨김 */
.hidden {
    display: none;
}
.color-picker-position {
    position: absolute;
    z-index: 10;
}

.close3 {
    position: absolute;
    right: 1px;
    top: -3px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;;
    line-height: 30px;
}

.close3:hover {
    background-color: #c82333;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="color"] {
    width: 1%;
    padding: 1px;
    margin-bottom: 1px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.rect_button3 {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.rect_button3:hover {
    background-color: #0056b3;
}

.tooltip5 {
    display: none;
}

.tool5:hover .tooltip5 {
    display: inline;
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

#filterPopup5 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

#overlay5 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.filter-option5 {
    margin: 10px 0;
}

*{
    font-family: "Jua",sans-serif;
}

#save5 {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}


#popup5 {
    display: none;
    position: fixed;
    left: 800px;
    width: 120%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content5 {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-content5 h2 {
    margin-top: 0;
}

.popup-content5 label {
    display: block;
    margin-bottom: 10px;
}

.button-group5 {
    margin-top: 20px;
}

.btn {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    margin-right: 10px;
}

.download-btn5 {
    background-color: #4CAF50;
}

.cancel-btn5 {
    background-color: #f44336;
}

.close-btn5 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.speaker-btn {
    position: absolute;
    top: 45px;
    left: 265px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Popup 스타일 */
#filterPopup5 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border-radius: 10px;
    width: 300px; /* 팝업 창 너비 */
    height: auto; /* 높이는 내용에 따라 자동 조정 */
}

/* 라디오 버튼과 레이블 스타일 */
#filterForm5 {
    --background: #ffffff;
    --text: #414856;
    --radio: #7C96B2;
    --radio-checked: #296ff0; /* 보라색 */
    --radio-size: 20px;
    background: var(--background);
    color: var(--text);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.filter-option5 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.filter-option5 label {
    font-size: 18px; /* 글씨 크기를 조절 */
    font-family: 'Jua', sans-serif; /* 폰트 재지정 */
    line-height: normal; /* 라벨의 line-height를 normal로 설정 */
    padding-top: 5px; /* 글씨를 아래로 내리기 위해 추가된 여백 */
    color:black;
}
.filter-option5 input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: var(--radio-size);
    width: var(--radio-size);
    outline: none;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--radio);
    background: transparent;
    border-radius: 50%;
    display: grid;
    align-items: center;
    transition: border .5s ease;
    justify-items: center;
}

.filter-option5 input[type="radio"]::before,
.filter-option5 input[type="radio"]::after {
    content: "";
    display: flex;
    border-radius: 50%;
}

.filter-option5 input[type="radio"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 1;
    opacity: var(--opacity, 1);
}

.filter-option5 input[type="radio"]::after {
    position: relative;
    width: calc(100% / 2);
    height: calc(100% / 2);
    background: var(--radio-checked);
    top: var(--y, 100%);
    transition: top .5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
    opacity: 0; /* 기본 상태에서 점이 보이지 않도록 설정 */
}

.filter-option5 input[type="radio"]:checked {
    --radio: var(--radio-checked);
}

.filter-option5 input[type="radio"]:checked::after {
    --y: 0%;
    opacity: 1; /* 클릭되면 점이 보이도록 설정 */
    animation: stretch-animate .3s ease-out .17s;
}

.filter-option5 input[type="radio"]:checked::before {
    --opacity: 0;
}

@keyframes stretch-animate {
    0% { transform: scale(1, 1); }
    28% { transform: scale(1.15, .85); }
    50% { transform: scale(.9, 1.1); }
    100% { transform: scale(1, 1); }
}

/* 버튼 스타일 */
#buttonWrapper5 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* 버튼 스타일 */
#applyFilter5 {
    background-color: #296FF0FF; /* 선명한 보라색 */
    color: #FFFFFF; /* 흰색 글씨 */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-size: 18px; /* 글씨 크기를 키움 */
}

#closePopup5 {
    background-color: #97a5ac; /* 연한 회색 */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-size: 18px; /* 글씨 크기를 키움 */
}

#applyFilter5:hover {
    background-color: #1031a6; /* 적용 버튼 호버 시 색상 변경 */
}

#closePopup5:hover {
    background-color: #797575; /* 닫기 버튼 호버 시 색상 변경 */
}