<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>A.M.C.N</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_em.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/logo/AMCNicon.png" type="image/x-icon">
    <!-- Google Fonts 링크 추가 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&family=Do+Hyeon&family=Gugi&family=Jua&family=Black+Han+Sans&family=Gamja+Flower&family=Dokdo&family=Sunflower:wght@300;500;700&family=Poor+Story&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <style>
        /* 오버레이 스타일 */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            display: none;
            justify-content: center; /* 수평 중앙 정렬 */
            align-items: center; /* 수직 중앙 정렬 */
            color: white;
            font-size: 30px;
        }

    </style>
</head>

<body>
<header id="header">
    <a href="/" style="text-decoration: none">
        <!--    <img src="/logo/AMCNicon.png" alt="">-->
        <p id="yamlogo">AMCN</p>
    </a>
</header>

<div id="main_display">
    <aside class="tools">
        <ul>
            <li>
                <button id="drawing" class="tool">
                    🖊
                    <span class="tooltip">Pen</span>
                </button>
            </li>

            <li>
                <button id="square" class="tool">
                    □
                    <span class="tooltip">Square</span>
                </button>
            </li>
            <li>
                <button id="fill_square" class="tool">
                    ■
                    <span class="tooltip">fill_square</span>
                </button>
            </li>

            <li>
                <button id="filter" class="tool">
                    ▥
                    <span class="tooltip">Filter</span>
                </button>
            </li>
            <li>
                <button id="reset" class="tool">
                    🗑
                    <span class="tooltip">Delete</span>
                </button>
            </li>
        </ul>
        <li>
            <button id="category" class="tool">
                🗝️
                <span class="tooltip">Category(post)</span>
            </button>


            <div id="popup" class="popup">
                <form id="imageForm" method="post" enctype="multipart/form-data"
                      th:object="${cardNews}">

                    <input type="hidden" id="imageData" name="imageData">
                    <h3 style="font-weight: bold">카드 뉴스 게시</h3>
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                           th:text="${err}">전체 오류 메시지</p>
                    </div>
                    <div class="category">
                        <label><input type="radio" th:field="*{category}" name="category" value="IT" th:checked
                                      required> IT</label>
                        <label><input type="radio" th:field="*{category}" name="category" value="과학" required>
                            과학</label>
                        <label><input type="radio" th:field="*{category}" name="category" value="스포츠" required>
                            스포츠</label>
                        <label><input type="radio" th:field="*{category}" name="category" value="경제" required>
                            경제</label>
                        <label><input type="radio" th:field="*{category}" name="category" value="예술" required>
                            예술</label>
                    </div>
                    <div>
                        <label for="title">제목</label>
                        <input type="text" th:field="*{title}" id="title" name="title"

                               required>
                    </div>
                    <div>
                        <label for="content">내용</label>
                        <textarea id="content" name="content" th:field="*{content}"
                                  rows="4"
                                  required></textarea>
                    </div>
                    <button type="button" id="postButton"
                            onclick="saveImage()">게시
                    </button>
                </form>
            </div>


        </li>
        <ul class='files'>
            <li><input type="file" accept="image/*" id='file'/></li>
            <li><label for="file">📂</label></li>
            <li>
                <button id="save">💾</button>
            </li>
        </ul>
    </aside>
    <main>
        <canvas id="imageCanvas"></canvas>
    </main>
    <aside class="tools_sett">
        <div class="container" style="margin-bottom: -138px;">
            <input type="color" id="text_color"/>
            <label for="text_color" class="color_tool">색상</label>
            <input type="color" id="background_color" value="#ffffff"/>
            <label for="background_color" class="color_tool">배경색</label>
        </div>
        <div class='ranges' style="margin-bottom: -55px;">
            <div id="canvas_range">
                <input type="text" id="canvas_width" value="750">
                X
                <input type="text" id="canvas_height" value="750">
                <label for="canvas_range" class="range_tool">Canvas</label>
            </div>
            <div id="size_box" style="display: none;">
                <input type="range" id="line_width" min="1" max="10" value="5" step="0.1"/>
                <label for="line_width" class="range_tool">사이즈</label>
            </div>
        </div>
        <div>
            <div class="styled-section">
                <div class="input-group">
                    <input name="imageCreate" id="imageCreate" class="styled-input"/>
                    <button id="imageButton" class="styled-button">이미지 생성</button>
                </div>
                <div class="text-button-group" style="margin-top: 75px;">
                    <button id="textbutton" class="styled-button">텍스트 추가</button>
                </div>
            </div>

            <div id="popup1" class="popup1">
                <h3 style="font-weight: bold">텍스트 추가</h3>
                <textarea id="textInput" placeholder="텍스트 입력"></textarea>
                <input type="color" id="textColorPicker" value="#000000">
                <input type="number" id="textSizeInput" placeholder="텍스트 크기" min="10" max="100" value="40">
                <select id="fontWeightSelect">
                    <option value="normal">Normal</option>
                    <option value="bold">Bold</option>
                </select>
                <select id="fontFamilySelect">
                    <option value="Nanum Gothic">Nanum Gothic</option>
                    <option value="Noto Sans KR">Noto Sans KR</option>
                    <option value="Do Hyeon">Do Hyeon</option>
                    <option value="Gugi">Gugi</option>
                    <option value="Jua">Jua</option>
                    <option value="Black Han Sans">Black Han Sans</option>
                    <option value="Gamja Flower">Gamja Flower</option>
                    <option value="Dokdo">Dokdo</option>
                    <option value="Sunflower">Sunflower</option>
                    <option value="Poor Story">Poor Story</option>
                </select>
                <button id="addTextButton">텍스트 추가</button>


            </div>
        </div>

        <!--        <input type="file" id="loadJsonFile" accept="application/json">-->
        <!--        <button id="loadJson">Load from JSON</button>-->
        <!--        <button id="saveJson">Save as JSON</button>-->

    </aside>
</div>

<!-- 텍스트 편집 모달 -->
<div id="textEditPopup" class="popup2">
    <h3>업데이트</h3>
    <div style="margin-bottom: 10px;">

        <textarea id="popupTextInput"></textarea>
    </div>
    <div style="margin-bottom: 10px;">
        <input type="color" id="popupTextColorPicker">
    </div>
    <div style="margin-bottom: 10px;">
        <input type="number" id="popupTextSizeInput" min="10" max="100">
    </div>
    <div style="margin-bottom: 10px;">
        <select id="popupFontWeightSelect" style="padding: 5px; border: 1px solid #ccc; border-radius: 3px;">
            <option value="normal">Normal</option>
            <option value="bold">Bold</option>
        </select>
    </div>
    <div style="margin-bottom: 10px;">
        <select id="popupFontFamilySelect" style="padding: 5px; border: 1px solid #ccc; border-radius: 3px;">
            <option value="Nanum Gothic">Nanum Gothic</option>
            <option value="Noto Sans KR">Noto Sans KR</option>
            <option value="Do Hyeon">Do Hyeon</option>
            <option value="Gugi">Gugi</option>
            <option value="Jua">Jua</option>
            <option value="Black Han Sans">Black Han Sans</option>
            <option value="Gamja Flower">Gamja Flower</option>
            <option value="Dokdo">Dokdo</option>
            <option value="Sunflower">Sunflower</option>
            <option value="Poor Story">Poor Story</option>
        </select>
    </div>
    <button id="updateTextButton">업데이트</button>
    <button id="closeTextPopup" style="  margin-top: 15px;
        width: 100%;
        padding: 10px;
        background-color: red;
       border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease; /* 추가: 호버 효과 */
        ">닫기
    </button>
</div>

<!-- 사각형 지정 팝업 -->
<div id="colorPopup" class="popup3">
    <div class="popup3-content">
        <span id="closeColorPopup" class="close">X</span>
        <label for="rectColorPicker">사각형 색깔:</label>
        <input type="color" id="rectColorPicker">
        <button class="rect_button" id="updateColorButton">변경</button>
    </div>
</div>

<!-- 색채운 사각형 지정 팝업 -->
<div id="colorPopup2" class="popup4">
    <div class="popup4-content">
        <span id="closeColorPopup2" class="close2">X</span>
        <label for="rectColorPicker2">사각형 색깔:</label>
        <input type="color" id="rectColorPicker2">
        <button class="rect_button2" id="updateColorButton2">변경</button>
    </div>
</div>

<!-- 펜 색깔 지정 팝업 -->
<div id="colorPopup3" class="popup5">
    <div class="popup5-content">
        <span id="closeColorPopup3" class="close3">X</span>
        <label for="rectColorPicker3">펜 색깔:</label>
        <input type="color" id="rectColorPicker3">
        <button class="rect_button3" id="updateColorButton3">변경</button>
    </div>
</div>


<div id="overlay5"></div>
<div id="filterPopup5">
    <h3>필터 선택</h3>
    <form id="filterForm5">
        <div class="filter-option5">
            <input type="radio" id="blur5" name="filter5" value="blur">
            <label for="blur5">흐리게</label>
        </div>
        <div class="filter-option5">
            <input type="radio" id="brighten5" name="filter5" value="brighten">
            <label for="brighten5">밝게</label>
        </div>
        <div class="filter-option5">
            <input type="radio" id="contrast5" name="filter5" value="contrast">
            <label for="contrast5">대비 조정</label>
        </div>
        <div class="filter-option5">
            <input type="radio" id="grayscale5" name="filter5" value="invert">
            <label for="grayscale5">흑백</label>
        </div>
        <div class="filter-option5">
            <input type="radio" id="sepia5" name="filter5" value="sepia">
            <label for="sepia5">세피아</label>
        </div>
        <div class="filter-option5">
            <input type="radio" id="default" name="filter5" value="default">
            <label for="default">없음</label>
        </div>
    </form>
    <button id="applyFilter5">적용</button>
    <button id="closePopup5">닫기</button>
</div>
<div style="display: flex">
    <div class="overlay">이미지를 생성 중입니다. 잠시만 기다려주세요...</div>
</div>
<script src="/js/app.js"></script>
<script>
    // 이미지 저장 함수
    function saveImage() {
        var canvas = document.getElementById("imageCanvas");
        var imageData = canvas.toDataURL("image/png");

        document.getElementById("imageData").value = imageData;
        document.getElementById("imageForm").submit();

        const canvasState = {
            backgroundImage: backgroundImage ? backgroundImage.src : null,
            penStrokes: penStrokes,
            brushStrokes: brushStrokes,
            texts: texts,
            rectangles: rectangles,
            rectfillangles: rectfillangles,
            backgroundColor: backgroundColor,
            currentFilter: filterLastValue,

        };
        const json = JSON.stringify(canvasState);

        // 서버로 JSON 데이터 전송
        if (json) { // null 체크
            fetch('/ai-Json', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: json
            })
                .then(response => {
                    // 서버 응답 처리
                })
                .catch(error => {
                    // 오류 처리
                });
        }
    }
</script>
<script>
    const categoryButton = document.getElementById('category');

    const returnButton = document.getElementById('square');
    const popup = document.getElementById('popup');

    categoryButton.addEventListener('click', (event) => {


        const rect = returnButton.getBoundingClientRect();
        const rightEdge = window.innerWidth;
        popup.style.top = `${rect.bottom}px`;
        if (rect.right + popup.offsetWidth > rightEdge) {
            popup.style.left = `${rect.left}px`;
        } else {
            popup.style.left = `${rect.right}px`;
        }
        togglePopup();
    });

    function togglePopup() {
        popup.style.display = (popup.style.display === 'block') ? 'none' : 'block';
    }

    document.addEventListener('click', (event) => {
        if (!popup.contains(event.target) && event.target !== categoryButton) {
            popup.style.display = 'none';
        }
    });

</script>

<script>
    const textButton = document.getElementById('textbutton');
    const color_tool = document.getElementById('text_color');
    const popup1 = document.getElementById('popup1');

    textButton.addEventListener('click', (event) => {
        const rect = color_tool.getBoundingClientRect();
        const rightEdge = window.innerWidth;
        popup1.style.top = `${rect.bottom}px`;
        popup1.style.left = `${rect.left - popup1.offsetWidth - 180}px`; // 수정된 부분: 왼쪽에 뜨도록 계산
        togglePopup1();
    });

    function togglePopup1() {
        popup1.style.display = (popup1.style.display === 'block') ? 'none' : 'block';
    }

    document.addEventListener('click', (event) => {
        if (!popup1.contains(event.target) && event.target !== textButton) {
            popup1.style.display = 'none';
        }
    });

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#imageButton").click(function () {
            // 오버레이 표시
            $(".overlay").css("display", "flex");

            $.ajax({
                type: "POST",
                url: "/image-create",
                data: {
                    "prompt": $("#imageCreate").val()
                },
                success: function (data) {
                    setBackgroundImage(data);
                },
                error: function (xhr, status, error) {
                    alert("이미지 생성 중 오류가 발생했습니다: " + xhr.responseText);
                },
                complete: function () {
                    // 오버레이 숨김
                    $(".overlay").hide();
                }
            });
        });
    });

</script>
</body>

</html>