<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!-- Open Graph Meta Tags -->
    <meta property="og:url" content="https://www.amcn.kr"/>
    <meta property="og:title" content="AMCN"/>
    <meta property="og:description" content="AI를 활용해서 AMCN과 함께 카드뉴스를 마음껏 제작해보세요!"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://amcn.kr/logo/AMCNicon.png"/>

    <title>A.M.C.N</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link rel="shortcut icon" href="/logo/logo2.png" type="image/x-icon">
    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/097a6f4f17.js" crossorigin="anonymous"></script>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/home2.css" rel="stylesheet">
    <link href="/css/home3.css" rel="stylesheet">


    <style>

        a {
            text-decoration: none;
            transition: transform 0.3s ease;
        }

        a:hover {
            text-decoration: none;
            transform: scale(1.1);
        }

        .animation-container {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 50px; /* 원하는 높이로 조정하세요 */
        }

        .animate-text {
            position: absolute;
            right: 0;
            animation: moveText 5s linear infinite; /* 원하는 애니메이션 지속 시간 및 타이밍 함수를 지정하세요 */
        }

        @keyframes moveText {
            0% {
                transform: translateX(100%);
                opacity: 1;
            }
            50% {
                transform: translateX(-100%);
                opacity: 1;
            }
            100% {
                transform: translateX(-100%);
                opacity: 0;
            }
        }

        .menu10 {
            transition: transform 0.3s ease;
        }

        .menu10:hover {
            transform: scale(1.1);

            .menu-text {
                color: white;
                font-weight: bold;
            }
        }

        a {
            text-decoration: none
        }
    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <sidebar class="sidebar-pos">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-white sidebar bg-whisidebar-dark accordion" id="accordionSidebar">


            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center " href="/">

                <img src="/logo/AMCNicon.png" alt="로고" width="170" height="140">
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0 border-dark">

            <a href="/join" class="logout-button mt-5 ml-3"
               style="color: black; font-weight: bold; text-decoration: none; "><span>회원가입</span></a>


            <a href="/login" class="logout-button mt-5 ml-3"
               style="color: black; font-weight: bold; text-decoration: none; "><span>로그인</span></a>
        </ul>


    </sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- header -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 header-border" id="header-pos">


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">


                    <li class="nav-item dropdown no-arrow">

                        <a href="/login" class="nav-link dropdown-toggle" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">로그인 해주세요</span>
                            <img class="img-profile rounded-circle" src="/logo/logo2.png">
                        </a>

                    </li>

                </ul>

            </nav>

            <!-- End of Topbar -->
            <div style="background-color: white;">
                <!-- Begin Page Content -->
                <div class="container-fluid" id="contnet">

                    <div class="cobody">
                        <div class="page1">
                            <video class="page1_background_video" src="/home/main.mp4" muted="" autoplay="" loop=""></video>
                            <div class="sub_page">
                                <div class="page1_left">
                                    <span>생성형 AI를 활용한 카드뉴스 만들기.</span>
                                    <span>AMCN</span>
                                </div>
                            </div>
                        </div>
                        <div class="page2">
                            <div class="sub_page">
                                <ul class="page2_items scroll_deactive">
                                    <li>
                                        <a href="">
                                            <img class="page2_item_image" src="/home/img.png" />
                                            <div class="page2_item_text">
                                                <span>커뮤니티</span>
                                                <span>다른사람들과</span>
                                                <span>소통을 해보면서 지식을 보충해봐요</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img class="page2_item_image" src="/home/img_1.png"  />
                                            <div class="page2_item_text">
                                                <span>뉴스</span>
                                                <span>뉴스 기사를 확인하고,</span>
                                                <span>뉴스 요약 모델을 통해 요약문을 얻어봐요</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img class="page2_item_image" src="/home/img_2.png"  />
                                            <div class="page2_item_text">
                                                <span>카드뉴스 생성</span>
                                                <span>생성형 AI를 활용해</span>
                                                <span>카드뉴스를 만들고 간직해봐요</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="page3">
                            <div class="sub_page">
                                <p class="page3_title scroll_deactive">
                                    다른 곳에서 만날 수 없는
                                    <br>
                                    <span>AMCN</span>의 특별함
                                </p>
                                <ul class="page3_items">
                                    <li class="scroll_deactive">
<!--                                        <img class="page3_item_image" src="https://www.coupangeats.com/wp-content/uploads/2022/11/1-2.png">-->

                                        <div class="swiper page3_item_image">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide" th:each="pop : ${cardPop}">
                                                    <img th:src="|/ai/image/${pop.imageUrl}|"/>
                                                    <div class="cost" style="color: black;" th:text="${pop.member.name}">from $230 per group</div>
                                                    <div class="overlay23">
                                                        <h1 th:text="${pop.title}">Walking Tour in Florence</h1>
                                                        <p th:text="${pop.content}">
                                                            Discover the fascinating beauty of this historic city by
                                                            strolling through the rich cultural tapestry that makes Florence
                                                            a timeless destination.
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="page3_item_text">
                                            <div>
                                                <span>실패 없는 이미지 생성</span>
                                                <h3>DALL-E</h3>
                                                <p>사용자가 원하는 카드뉴스를
                                                    <br>
                                                    생성할 수 있게 했어요.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="scroll_deactive">
                                        <div class="page3_item_text">
                                            <div style="left: 40px;">
                                                <span>정확한 요약 모델</span>
                                                <h3>Kobart</h3>
                                                <p>정확도가 75%인
                                                    <br>
                                                    AMCN의 뉴스 요약 모델을 활용해 요약문을 갖고갑시다.
                                                </p>
                                            </div>
                                        </div>
                                        <img class="page3_item_image" src="/home/img_3.png" >
                                    </li>
                                    <li class="scroll_deactive">
                                        <img class="page3_item_image" src="/home/img_4.png" >
                                        <div class="page3_item_text">
                                            <div>
                                                <span>게임</span>
                                                <h3>3종류의 게임</h3>
                                                <p>숫자 야구 게임, 숫자 맞추기 게임, 벽돌 깨기 게임을 통해
                                                    <br>
                                                    재미를 즐겨요.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="page4">
                            <div class="sub_page">
                                <div class="page4_text scroll_deactive">
                                    <p>AMCN이 바꿔가는
                                        <br>
                                        카드뉴스 자동 제작
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="page5">
                            <div class="sub_page">
                                <p class="page5_title scroll_deactive">
                                    더 좋은 경험을 위한
                                    <br>
                                    <span>AMCN</span>의 새로운 시도
                                </p>
                                <ul class="page5_items">
                                    <li class="scroll_deactive">
                                        <img class="page5_item_video" src="/home/33.gif" muted="" autoplay="" loop=""/>
                                        <div class="page5_item_text">
                                            <div>
                                                <span>생성시간 최소화</span>
                                                <h3>70초 ➡️ 35초</h3>
                                                <p>고객님들을 위해 카드뉴스 생성시간을
                                                    <br>
                                                    최소화하고 있어요.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="scroll_deactive">
                                        <div class="page5_item_text">
                                            <div>
                                                <span>카드뉴스 소장</span>
                                                <h3>동영상, 사진</h3>
                                                <p>고객님이 만든 카드뉴스를
                                                    <br>
                                                    고객님이 소장하도록 구현했어요.
                                                </p>
                                            </div>
                                        </div>
                                        <img class="page5_item_video" src="/home/2.gif" muted="" autoplay="" loop=""/>
                                    </li>
                                    <li class="scroll_deactive">
                                        <img class="page5_item_video" src="/home/1.gif" muted="" autoplay="" loop=""/>
                                        <div class="page5_item_text">
                                            <div>
                                                <span>실시간 관리자 채팅</span>
                                                <h3>쉽고 편한 고객 문의</h3>
                                                <p>단 한번에 입력으로
                                                    <br>
                                                    관리자랑 대화를 해보세요.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>








                </div>

            </div>
            <!-- /.container-fluid -->
        </div>

    </div>


</div>
<!-- End of Content Wrapper -->


</div>


<script src="/js/home2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

<script>
    // 애니메이션이 적용될 요소를 배열에 저장함.
    const animation_contents = document.querySelectorAll('.scroll_deactive');
    let animation_count = 0; // 애니메이션이 적용된 요소의 개수

    // 스크롤 이벤트 등록
    window.addEventListener('scroll', function(){
        // scrollOffset 변수에 화면에 표시되는 페이지의 가장 아래 위치를 저장함.
        var scrollOffset = window.innerHeight + document.documentElement.scrollTop;
        console.log(scrollOffset);
        //console.log(window.pageYOffset + animation_contents[animation_count].getBoundingClientRect().top);
        if (animation_count < animation_contents.length){
            var element_offset = window.pageYOffset + animation_contents[animation_count].getBoundingClientRect().top;
            if (element_offset < scrollOffset){
                animation_contents[animation_count].classList.add('scroll_active');
                animation_count++;
            }
        }
    });
</script>

<script>
    document.getElementById('searchForm').addEventListener('submit', function (event) {
        event.preventDefault(); // 폼의 기본 동작을 막음

        const searchInput = document.getElementById('searchInput').value;
        const baseUrl = '/cardnews?selected=인기&category=&title=';
        const fullUrl = baseUrl + encodeURIComponent(searchInput);

        window.location.href = fullUrl; // 해당 URL로 이동
    });
</script>

</body>
</html>